<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = '>配送先情報一覧', scripts = ~{::script}, links = ~{::link})"></head>

<body>
	<div class="container">
		<h1>配送先情報一覧</h1>
		<div class="float-end">
			<a th:href="@{/shipping/add}" class="btn btn-primary">新規登録はこちら</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>住所</th>
					<th>年齢</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shipping : ${shippinglist}" th:object="${shipping}" class="align-middle">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{address}"></td>
					<td th:text="*{age}"></td>
					
					
					<td><a th:href="@{/shipping/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>